<h2><%= @item.title %></h2>
<p><%= @item.station %></p>
<p><%= @item.quantity %></p>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_item_path(@item) %>
<%= link_to "Delete", item_path(@item), method: :delete, data: { confirm: "OUI?" } %>
